@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES FOR DEBUGGING */
*,
*::before,
*::after {
  border: 2px solid red;
}
